.containerPag {
  max-width: 300px;
  margin-top: 3rem;
  margin: 3rem auto;
}
.listPag {
  display: flex;
  gap: 0.3rem;
}

.itemPag {
  font-size: 1.5rem;
  font-weight: 500;
  width: 30px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  color: rgb(95, 93, 93);
}

.activePage {
  background-color: #366576ba;
  color: white;
}

.btnPag {
  background-color: rgba(81, 151, 129, 0.878);
  border-radius: 5px;
  color: white;
  font-size: 30px;
  font-weight: 500;
}

 