
.pokeCard {
  width: 100%;
  max-width: 300px;
  border-radius: 1em;
} 

.pokeCard__header {
  height: 120px;
  position: relative;
}

.pokecard__img {
  width: 55%;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}

.pokeCard__section {
  padding-top: 2em;
  text-align: center;
}

.pokeCard__nameTitle {
  text-transform: capitalize;
  font-size: 1.4em;
}

.pokeCard__listTypes {
  display: flex;
  justify-content: center;
  gap: 2em;
  text-transform: capitalize;
  color: rgb(71, 73, 76);
}

.pokeCard__infoCard {
  margin-top: 1em;
  padding: 1em 0em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 15px;
  justify-content: center;
}

.pokeCard__infoPoke {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.pokeCard-skillName {
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.4;
  background-color: rgba(184, 182, 182, 0.926);
}

.pokeCard-skillNumber {
  font-weight: 500;
}


/* background Dinamico*/
.bg-grass {
 background-image: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #cae099 99.08%);

}
.bg-fire {
  background-image: linear-gradient(176.37deg, #F96D6F -32.26%, #E35825 22.55%, #E8AE1B 125.72%);
}

.bg-water {
  background-image:linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%); ;
}
.bg-bug {
  background-image:linear-gradient(177.56deg, #62DB60 -58.92%, #3BB039 16.57%, #AAFFA8 209.53%); ;
}
.bg-normal {
  background-image: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);;
}
.bg-poison {
  background-image:  linear-gradient(177.03deg, #5B3184 -11.97%, #A564E3 71.28%, #CE9BFF 135.64%);
}
.bg-electric {
  background-image: linear-gradient(179.75deg, #0C1395 -19.96%, #2B319B 43.67%, #7075D9 138.4%);
}
.bg-fighting {
  background-image: linear-gradient(176.83deg, #96402A -8.78%, #F1613C 169.09%, #CB735D 242.33%);
}
.bg-rock {
  background-image: linear-gradient(177.03deg, #7E7E7E -11.97%, #8D8D94 57.49%, #D3D3D3 135.64%);
}
.bg-ground {
  background-image: linear-gradient(179.75deg, #654008 -19.96%, #895C1A 43.67%, #D69638 138.4%);
}
.bg-ghost {
  background-image: linear-gradient(177.03deg, #323569 -11.97%, #454AA8 57.49%, #787DDA 135.64%);
}
.bg-steel {
  background-image: linear-gradient(179.75deg, #5E736C -19.96%, #728881 43.67%, #A8A8A8 138.4%);
}
.bg-ice {
  background-image: linear-gradient(177.03deg, #6FBEDF -11.97%, #64CBF5 47.77%, #BDEBFE 136.72%);
}
.bg-dragon {
  background-image: linear-gradient(179.75deg, #478A93 -19.96%, #56A4AE 43.67%, #A2BEC1 138.4%);
}
.bg-fairy {
  background-image: linear-gradient(179.75deg, #971B45 -19.96%, #C23867 43.67%, #CD7D98 138.4%);
}
.bg-dark {
  background-image: linear-gradient(177.03deg, #030706 -11.97%, #0D1211 57.49%, #5A5E5D 135.64%);
}
.bg-psychic {
  background-image: linear-gradient(177.03deg, #371457 -11.97%, #5a1f78 57.49%, #040106 135.64%);
}

/* border dinamico */
.border-grass {
  border: 0.5em solid #b8cd8a;
}
.border-fire {
  border: 0.5em solid #de683d;
}
.border-water {
  border: 0.5em solid #1479FB;
}
.border-bug {
  border: 0.5em solid #4cbc4a;
}
.border-normal {
  border: 0.5em solid #735259;
}
.border-poison {
  border: 0.5em solid #9257c9;
}
.border-electric {
  border: 0.5em solid #464ba1;
}
.border-fighting {
  border: 0.5em solid #ac614e;
}
.border-rock {
  border: 0.5em solid #98989c;
}
.border-ground {
  border: 0.5em solid #af7f36;
}
.border-ghost {
  border: 0.5em solid #5f64bb;
}
.border-steel {
  border: 0.5em solid #87a098;
}
.border-ice {
  border: 0.5em solid #6abdde;
}
.border-dragon {
  border: 0.5em solid #56929a;
}
.border-fairy {
  border: 0.5em solid #de4b7c;
}
.border-dark {
  border: 0.5em solid #2d3030;
}
.border-psychic {
  border: 0.5em solid #4d286f;
}






/* color dinamico */
.color-grass {
  color: #5f8a53;
}
.color-fire {
  color: #de683d;
}
.color-water {
  color: #1479FB;
}
.color-bug {
  color: #4cbc4a;
}
.color-normal {
  color: #926670;
}
.color-poison {
  color: #8049b2;
}
.color-electric {
  color: #464ba1;
}
.color-fighting {
  color: #ac614e;
}
.color-rock {
  color: #98989c;
}
.color-ground {
  color: #af7f36;
}
.color-ghost {
  color: #5f64bb;
}
.color-steel {
  color: #8da79e;
}
.color-ice {
  color: #6abdde;
}
.color-dragon {
  color: #56929a;
}
.color-fairy {
  color: #de4b7c;
}
.color-dark {
  color: #2d3030;
}
.color-psychic {
  color: #4d286f;
}